# Simulation files
full-run/logs/
full-run/out/
full-run/out-oracle/
full-run/out-eblue/
full-run/plots/
full-run/clipping/
full-run/data/*
hcp/
out/
data/
.vscode/
.lintr
hcp/*.txt
hcp/*.zip
*.rds
!R_files/rat_coords.rds
*.job
**/*.code-workspace

# Prerequisites
*.d
*.Rbuildignore
*.Rhistory
*.DS_Store
